.container_card {
  width: 75%;
  margin: auto;
}

.product_card {
  width: 100%;
  height: 416px;

  background: white;

  margin-bottom: 15px;
}
.product_card:hover {
  cursor: pointer;
  /* border: 1px solid gray;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.product_img {
  width: 100%;
  height: 297px;
}

@media (max-width: 440px) {
  .product_img {
    width: 77%;
    margin-left: 42px;
  }
}

@media (max-width: 390px) {
  .product_img {
    width: 100%;
    margin-left: 7px;
  }
}

@media (max-width: 426px) {
  .product_card {
    width: 79%;
    margin-left: 42px;
  }
}
@media (max-width: 365px) {
  .product_card {
    margin-left: 78px;
  }
}
.product_price {
  color: #000;
  font-weight: 600;
}

.product_card_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  flex-wrap: wrap;
}
