.container_card {
  width: 75%;
  margin: auto;
}

.product_card {
  width: 100%;
  height: 420px;
  border-radius: 12px;
  background: hsla(0, 0%, 100%, 0.06);
  padding: 25px;
  padding-top: 60px;
}

.product_img {
  width: 100%;
  height: 240px;
  border-radius: 12px;
}

.product_price {
  color: white;
}

.product_card_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: auto;
}
