* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
p {
  color: black;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
}

body {
  background-color: #fff;
  margin-top: 80 px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul,
ol {
  list-style-type: none;
  margin: 10px 0;
}
Button:hover {
  color: gray;
}
/* ! Navbar and  Foooter */

.navbar {
}

.navbar_icons {
  cursor: pointer;
  margin: 0 10px;
}

.footer {
  width: 100%;
  height: 450px;
  margin-top: 100px;
  bottom: 0;
}
.navbar,
.footer {
  background-color: #1551e5;
}

.icons:hover {
  color: gray;
}
input:focus {
  outline: none;
}
.search_container {
  -webkit-box-shadow: 0px 28px 30px -10px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 28px 30px -10px rgba(0, 0, 0, 0.3);
  background-color: rgb(32, 32, 32);
}
.search_input {
  background-color: transparent;
}
.search_input:hover {
  background-color: transparent;
}
.search_container:hover {
  -webkit-box-shadow: 0px 15px 30px -10px rgba(25, 9, 89, 0.3);
  box-shadow: 0px 15px 30px -10px rgba(25, 9, 89, 0.3);
  background-color: rgb(50, 49, 49);
}
.svg_li {
  display: flex;
  width: 40%;
  margin: 20px;
}
.contacts_li {
  margin: 0 10px;
}
/* catalog */
.catalog {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
}
/* ! Navbar and  Foooter */

/* !Home page */

.home_main_div {
  width: 80%;
  margin: auto;
}
/* slider */
.swiper {
  height: 100%;
  margin-bottom: 50px;
}
.mySwiper {
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
}

.swiper-slide {
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 20px 0;
}
.swiper-slide:hover {
  cursor: pointer;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product_slider_item {
  transition: transform 0.2s ease;
}
.product_slider_item:hover {
  transform: scale(1.01);
  -webkit-box-shadow: 0px 10px 30px -10px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 10px 30px -10px rgba(0, 0, 0, 0.3);
}
.buy_button {
  display: none;
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 30px;
  color: #fff;
  background-color: #1551e5;
}
.buy_button:hover {
  color: #fff;
  background-color: #1244c3;
}
.product_slider_item:hover .buy_button {
  display: block;
}

/* slider end */
/* photos */
.photos {
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: space-between;
}
.photos_left_div {
  width: 50%;
  height: 600px;
  margin-right: 5px;
  overflow: hidden;
}
.left_photo,
img {
  max-width: 100%;
  height: auto;
}
.photos_right_div {
  width: 50%;
  overflow: hidden;
}
.photos_right_ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}
.photos_right_li {
  width: 49%;
  height: 300px;
  margin: 0 2px 2px;
  overflow: hidden;
}
.photos_right_li > img {
  width: 100%;
  height: auto;
}
/* photos end */
/* !Home page */

/* !Admin page */
/* add product */
#product {
  animation-name: shutter-out-left;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;

  animation: shutter-out-left 0.3s linear 0s 1 normal none;
}

.button_container {
  width: 20%;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.add_button_div {
  margin: 10px;
}
.add_product {
  animation-name: shutter-in-left;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;

  animation: shutter-in-left 0.3s linear 0s 1 normal none;
}

.add_product_input {
  color: black;

  width: 100%;
}
.add_product_category {
  width: 25%;
}
.add_product_button {
  background-color: #2fce6f;
  width: 250px;
  height: 57px;
  border: none;
  border-radius: 15px;
  margin: 5px 10px;
  transition: transform 0.2s ease;
}

.add_product_button:hover {
  background-color: #9de263;
  cursor: pointer;
  -webkit-box-shadow: 0px 10px 30px -10px #3dc6fa;
  box-shadow: 0px 10px 30px -10px #3dc6fa;
  transform: scale(1.05);
}
.add_product_button:active {
  background-color: #ff7473;
  -webkit-box-shadow: 0px 10px 30px -10px #a0a0a0;
  box-shadow: 0px 10px 30px -10px #a0a0a0;
  transform: puffIn;
  transform: scale(1);
}
/* add product end */
/* add category */
.modal_button {
  background-color: #1244c3;
  border: none;
  width: 100px;
  height: 50px;
  color: #fff;
  transition: transform 0.2s ease;
}
.modal_button:hover {
}
.add_category_modal {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}
.add_category_open {
  width: 25%;
  height: 25px;
  color: #1244c3;
}
.add_category_close {
  width: 25%;
  height: 25px;
}
.add_category {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  animation-name: shutter-in-left;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;

  animation: shutter-in-left 0.3s linear 0s 1 normal none;
}
.add_category_button {
  background-color: #2fce6f;
  width: 250px;
  height: 57px;
  border-radius: 15px;
  margin: 10px 0;
  transition: transform 0.2s ease;
}
.add_category_button:hover {
  background-color: #9de263;
  cursor: pointer;
  -webkit-box-shadow: 0px 10px 30px -10px #3dc6fa;
  box-shadow: 0px 10px 30px -10px #3dc6fa;
  transform: scale(1.05);
}
.add_category_button:active {
  background-color: #ff7473;
  -webkit-box-shadow: 0px 10px 30px -10px #a0a0a0;
  box-shadow: 0px 10px 30px -10px #a0a0a0;
  transform: puffIn;
  transform: scale(1);
}
.add_category_input {
  color: black;
  margin: 10px 0;
  background-color: #7f9298;
  width: 50%;
  padding: 10px;
}
/* add category end */
/* add promo start */
.add_promo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  animation-name: shutter-in-left;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;

  animation: shutter-in-left 0.3s linear 0s 1 normal none;
}
/* add promo end */

/* Animations */
@keyframes shutter-in-left {
  0% {
    transform: rotateY(100deg);
    transform-origin: left;
    opacity: 0;
  }
  100% {
    transform: rotateY(0);
    transform-origin: left;
    opacity: 1;
  }
}
@keyframes shutter-out-left {
  0% {
    transform: rotateY(0);
    transform-origin: left;
    opacity: 1;
  }
  100% {
    transform: rotateY(-70deg);
    transform-origin: left;
    opacity: 0;
  }
}
/* !Admin page */
